.grid {
  display: grid;
  max-width: 1440px;
  height: 100%;

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: end;
  }

  &__item {
    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--tablet-#{$start}-#{$end} {
          @include tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include desktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}

.mobile-screen {
  @include mobile {
    display: block;
    width: 100%;
  }
}

.mob-flex {
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.new-grid {
  display: grid;
  max-width: 1440px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  row-gap: 0;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    // justify-content: end;
  }
  @include mobile {
    display: block;
  }
}

.grid-cactus {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1;
  align-self: end;
  height: 100%;

  @include tablet {
    grid-column-start: 1;
    grid-column-end: 7;
    // grid-row: 1;
    // justify-self: end;
    // height: fit-content;
  }
}

.new-grid-item {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;

  @include tablet {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 2;
    justify-self: end;
  }
}

.new-grid-item2 {
  // display: flex;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  // margin-bottom: 350px;
  // align-self: end;
}

.new-grid-item3 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row: 2;
  align-self: end;
}

.tablet-grid {
  width: 100%;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
  }
  @include mobile {
    display: block;
  }
}

.tablet-grid-item1 {
  display: flex;
justify-content: end;
  @include tablet {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row: 1;
  }
}

.tablet-grid-item2 {
  
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
  }
}

.tablet-grid-item3 {

  @include tablet {
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }
}

.tablet-grid-item3-img {
  @include tablet {
    max-height: 417px;
  }
}

.tablet-grid-item4 {
  @include tablet {
    // justify-content: start;
    align-items: start;
    grid-column-start: 4;
    grid-column-end: 7;
    // grid-row: 1;
  }
}
