.grid {
  display: grid;
  max-width: 1440px;
  height: 100%;

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: end;
  }

  &__item {
    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--tablet-#{$start}-#{$end} {
          @include tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include desktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}

.mobile-screen {
  @include mobile {
    display: block;
    width: 100%;
  }
}

.mob-flex {
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.new-grid {
  display: grid;
  max-width: 1440px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    // justify-content: end;
  }
}

.grid-cactus {
  grid-column-start: 2;
  grid-column-end: 5;
  // align-items: center;
  // justify-content: center;
  align-self: center;

  @include tablet {
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: end;
  }
}

.new-grid-item {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row: 1;
}
