.grid {
  display: grid;
  max-width: 1440px;
  height: 100%;

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: end;
  }

  @include mobile {
    display: block;
  }

  &__item {
    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--tablet-#{$start}-#{$end} {
          @include tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include desktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}

.mobile-screen {
  @include mobile {
    display: block;
    width: 100%;
  }
}
