.top-pic-box {
  transform: translateY(-90%);

  @include tablet {
    position: relative;
  }
}

.top-pic {
  display: flex;
  justify-content: end;

  @include tablet {
    position: absolute;
    right: 34px;
    max-width: 90%;
  }

  @include mobile {
    display: block;
    position: relative;
  }

  &--start {
    justify-content: start;

    @include tablet {
      max-width: 90%;
    }
  }
}

.cactus-background {
  @include desktop {
    background-image: url('../images/SMall.png');
    background-size: cover;
    width: 90%;
    height: 0;
    padding-top: 90%;
    background-repeat: no-repeat;
  }

  @include tablet {
    background-image: url('../images/SMall.png');
    background-size: cover;
    width: 40vw;
    height: 0;
    padding-top: 100%;
    background-repeat: no-repeat;
  }

  @include mobile {
    background-image: url('../images/SMall.png');
    background-size: cover;
    width: 100vw;
    height: 0;
    padding-top: 100vw;
    background-repeat: no-repeat;
  }
}

.block {
  @include mobile {
    display: block;
    height: max-content;
    margin-bottom: 25px;
  }
}

.second-pic-background {
  @include desktop {
    background-image: url('../images/secondImage.png');
    background-size: cover;
    width: 90%;
    height: 0;
    padding-top: 90%;
    background-repeat: no-repeat;
  }

  @include tablet {
    background-image: url('../images/secondImage.png');
    background-size: cover;
    width: 40vw;
    height: 0;
    padding-top: 100%;
    background-repeat: no-repeat;
  }

  @include mobile {
    background-image: url('../images/secondImage.png');
    background-size: cover;
    width: 100vw;
    height: 0;
    padding-top: 100vw;
    background-repeat: no-repeat;
  }
}

.invisible {
  @include mobile {
    display: none;
  }
}
