.nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 90px;

  @include mobile {
    margin-bottom: 30px;
  }
}

.yellow {
  position: absolute;
  top: 0;
  left: 0;

  @include tablet {
    transform: translateX(-40%);
  }

  @include mobile {
    display: none;
  }
}

.nav-text {
  position: relative;
  top: 0;
  left: 0;
}

.pr-60 {
  padding-right: 60px;
}

.pr-260 {
  padding-right: 260px;

  @include mobile {
    padding-right: 0;
  }
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-box {
  display: flex;
  justify-content: space-between;
  width: 80%;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}
