.header-bebas {
  font-family: BebasNeue, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  color: #333;
  text-transform: uppercase;
  margin: 0;

  @include mobile {
    width: fit-content;
    padding-right: 0;
  }
}

.header-bebas-box {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 180px;
}

.manrope-nav {
  color: #4f4f4f;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.blue-slogan-box {
  width: 480px;
  color: #03839e;
  font-family: BebasNeue, sans-serif;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #03839e;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 100% */
  letter-spacing: 9.92px;
  text-transform: uppercase;

  @include tablet {
    position: relative;
    z-index: 1000;
  }

  @include mobile {
    width: 100%;
    letter-spacing: 5.58px;
    -webkit-text-stroke-width: 0.68;
    -webkit-text-stroke-color: #03839e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.blue-fill {
  -webkit-text-fill-color: #03839e;

  @include mobile {
    color: var(--turquoise, #03839e);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.58px;
    text-transform: uppercase;
  }
}

.hfit {
  color: #333;
  font-family: Manrope, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 150px;
}

.flex-for-box {
  display: flex;
  justify-content: end;

  @include tablet {
    display: flex;
    justify-content: center;
  }

  @include mobile {
    justify-content: start;
  }
}

.flex-for-price {
  display: flex;
  justify-content: end;

  @include mobile {
    justify-content: start;
  }
}

.flex-for {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.price {
  color: #4f4f4f;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  display: flex;
  justify-content: end;
  width: 100%;

  @include mobile {
    justify-content: start;
  }
}

.small-size {
  width: 150px;
}

.new-line {
  @include tablet {
    width: 140px;
  }
}

.blue-box-big {
  height: max-content;
  width: 20px;
  position: absolute;
  top: 600px;
  left: 135px;

  @include tablet {
    left: 32px;
    top: 550px;
  }

  @include mobile {
    position: absolute;
    left: 101%;
    top: 84%;
  }
}

.blue-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  height: fit-content;
}

.blue-arrow-text {
  width: 150px;
  color: var(--turquoise, #03839e);
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  transform: rotate(90deg);
  padding-right: 110px;
}

.for-whom {
  color: var(--gray-1, #333);
  font-family: BebasNeue, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 54px */
  letter-spacing: 5.58px;
  text-transform: uppercase;
  width: 100%;
}

.for-whom-box {
  margin-top: 150px;

  @include tablet {
    margin-top: 80px;
  }

  @include mobile {
    margin-top: 110px;
    order: 1;
  }
}

.ft {
  @include mobile {
    position: relative;
  }
}

.star {
  // display: flex;
  // justify-content: end;
  position: absolute;
  left: -30px;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.72px;
  height: fit-content;

  @include mobile {
    display: none;
  }
}

.slash-number {
  display: flex;

  @include tablet {
    // position: absolute;
  }
}

.slash-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #000;
  font-family: BebasNeue, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.slash {
  background-color: #333;
  width: 1px;
  height: 46px;
  transform-origin: bottom left;
  transform: rotate(22deg);
}

.slash-box {
  width: 20px;
  height: 43px;
}

.robust {
  color: var(--gray-1, #333);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  height: fit-content;
}

.who-value {
  color: #000;
  font-family: BebasNeue, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 54px */
  letter-spacing: 5.58px;
  text-transform: uppercase;

  @include mobile {
    order: 3;
  }
}

.dont-worry {
  color: var(--gray-2, #4f4f4f);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

  @include mobile {
    order: 4;
  }
}

.align-text-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    position: relative;
  }
}

.slash-one {
  @include mobile {
    position: relative;
    left: 0;
  }
}

.robust-box {
  height: fit-content;
  position: relative;
}

.slash-total {
  @include tablet {
    position: absolute;
    top: 15%;
    left: 63%;
    // grid-area: 3/5;
    // z-index: 100;
  }

  @include mobile {
    position: static;
    display: flex;
    justify-content: start;
  }
}

.rel {
  position: relative;
}

.new-grid {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}

.grid-cactus {
  grid-column-start: 2;
  grid-column-end: 5;

  @include tablet {
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: end;
  }
}

.grid-cactus-text {
  grid-column-start: 2;
  grid-column-end: 5;

  @include tablet {
    grid-column-start: 3;
    grid-column-end: 3;

  }
}
