.header-bebas {
  font-family: BebasNeue, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}

.header-bebas-box {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 180px;
}

.manrope-nav {
  color: #4f4f4f;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.blue-slogan-box {
  width: 480px;
  color: #03839e;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #03839e;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 100% */
  letter-spacing: 9.92px;
  text-transform: uppercase;

  @include tablet {
    position: relative;
    z-index: 1000;
  }
}

.blue-fill {
  -webkit-text-fill-color: #03839e;
}

.hfit {
  width: fit-content;
  transform: translateY(-700%);
  color: #333;
  font-family: Manrope, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include tablet {
    transform: translateY(-1000%);
  }
}

.price {
  transform: translateY(-650%);
  color: #4f4f4f;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */

  @include tablet {
    transform: translateY(-880%);
  }
  
}

.ft {
  width: fit-content;
}

.new-line {
  @include tablet {
    width: 140px;
    
  }
}
