@font-face {
  font-family: BebasNeue;
  src:
    local('BebasNeue'),
    url('../fonts/BebasNeue-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src:
    local('Manrope'),
    url('../fonts/Manrope-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
