@import 'utils';
@import 'fonts';
@import 'typography';
@import './utils/mixins';
@import './blocks/container';
@import './blocks/grid';
@import './blocks/text';
@import './blocks/nav';
@import './blocks/images';
@import './blocks/button';

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 25px;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mobile-mb-0 {
  @include mobile {
    margin-bottom: 0;
  }
}

.mobile-mb-30 {
  @include mobile {
    margin-bottom: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
  @include mobile {
    margin-bottom: 70px;
  }
}

.pt-100 {
  padding-top: 100px;
}

.ml-8 {
  margin-left: 8%;
}

.ml-4 {
  margin-left: 4%;
}

.mt-40 {
  margin-top: 40px;
}

.justify {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    display: block;
  }
}

.end {
  display: flex;
  justify-content: end;
  width: 100%;
  @include mobile {
    display: none;
  }
  // align-self: end;
}

.fit {
  width: fit-content;
}

.desktop-mt-40 {
  margin-top: 40px;

  @include tablet {
    margin-top: 0;
  }
}

.flex-top {
  @include tablet {
    position: relative;
  }
}

.mmb-80 {
  @include mobile {
    margin-bottom: 70px;
  }
}
